.input-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.photo-preview {
  display: flex;
  width: 30%;
  margin-right: 5%;
}

.photo-preview__container {
  border-radius: 1rem;
  max-height: 201px;
  width: 100%;
}

.photo-preview__container>img {
  min-height: 200px;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}

.input-form__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  width: 40%;
  min-height: 200px;
}

.input-form__select-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

/* Основные стили кнопки */
.input-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: transparent;
  border-radius: 2rem;
  border: 1px solid #79747E;
  width: 100%;
  padding: 0rem 1rem 0rem 1rem;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.input-form__button span {
  font-weight: 600;
  color: #6750A4;
}

/* Стили при наведении */
.input-form__button:hover {
  background-color: rgba(103, 80, 164, 0.1);
}

/* Стили при фокусе */
.input-form__button:focus {
  box-shadow: 0 0 0 3px rgba(103, 80, 164, 0.3);
}

/* Стили при нажатии */
.input-form__button:active {
  background-color: rgba(103, 80, 164, 0.2);
  transform: scale(0.95);
}

.plus-icon {
  font-size: 2em;
}

.input-form__button_submit {
  color: #FFFFFF;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #6750A4;
}

/* Стили при наведении */
.input-form__button_submit:hover {
  background-color: #4d3b7c;
}

/* Стили при фокусе */
.input-form__button_submit:focus {
  box-shadow: 0 0 0 3px rgba(103, 80, 164, 0.3);
}

/* Стили при нажатии */
.input-form__button_submit:active {
  background-color: rgb(141, 109, 227);
  transform: scale(0.95);
}

.input-hidden {
  display: none;
}

/* Стили для селектора */
.select-menu {
  width: 100%;
}

.sBtn-text {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 5%;
}

.select-menu .select-btn {
  display: flex;
  width: 100%;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.select-menu .options {
  display: none;
  position: absolute;
  width: 330px;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.select-menu .options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.select-menu .options .option:hover {
  background: #f2f2f2;
}
.select-menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}
.select-menu .options .option .option-text {
  font-size: 18px;
  color: #333;
}

.select-btn i {
  font-size: 25px;
  transition: 0.3s;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}